<!DOCTYPE html>
<html ng-app="xplatform-sample">
<head>
    <title translate="appBranding.title">BoardZ!</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

    <!-- inject:css -->
    <!-- endinject -->

    <link rel="icon" href="assets/favicon.ico"/>
</head>
<body class="hold-transition skin-blue sidebar-mini" body-element>
<div class="wrapper">
    <header class="main-header">
        <a ui-sref="dashboard" class="logo">
            <span class="logo-mini" translate="appBranding.shortTitle"></span>
            <span class="logo-lg" translate="appBranding.title"></span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only" translate="common.toggleNavigation"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li ng-controller="navigationController as navigation" ng-show="navigation.showBackButton">
                        <a href ng-click="navigation.goBack()"><i class="fa fa-arrow-circle-left"></i></a>
                    </li>
                    <li ng-controller="logoutController as logout" ng-show="logout.isLogoutButtonVisible()">
                        <a href ng-click="logout.logout()"><i class="fa fa-sign-out"></i></a>
                    </li>
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                <li ui-sref-active="active">
                    <a ui-sref="dashboard" close-sidebar-on-mobile><i class="fa fa-dashboard"></i> <span translate="dashboard.title"></span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="games" close-sidebar-on-mobile><i class="fa fa-list"></i> <span translate="gameList.title"></span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="radiusSearch" close-sidebar-on-mobile><i class="fa fa-location-arrow"></i> <span translate="radiusSearch.title"></span></a>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
    <section class="content scrolling-module" ui-view="main">
        </section>
    </div>

    <footer class="main-footer">
        <span translate="footer.text"></span>&nbsp;
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
        <div class="tab-content">
            <div class="tab-pane active" id="control-sidebar-home-tab" ng-controller="languageController as language">
                <h3 class="control-sidebar-heading" translate="sidebar.language"></h3>
                <button class="btn btn-default" ng-click="language.switchTo('de-DE')" type="button" translate="sidebar.languages.deDE"></button>
                <button class="btn btn-default" ng-click="language.switchTo('en-US')" type="button" translate="sidebar.languages.enUS"></button>
            </div>
        </div>
    </aside>
    <div class="control-sidebar-bg"></div>
</div>

<script>
    var AdminLTEOptions = {
        navbarMenuSlimscroll: true,
        sidebarSlimScroll: true
    };
</script>

<script src="cordova.js"></script>

<!-- inject:js -->
<!-- endinject -->

<!-- Live reload of CSS styles without reloading the page -->
<script>
    if (window.require) {
        var gulp = require('gulp');
        gulp.task('reload', function () {
            if (location) location.reload();
        });

        gulp.task('css', function () {
            console.log('reload');
            var styles = document.querySelectorAll('link[rel=stylesheet]');

            for (var i = 0; i < styles.length; i++) {
                // reload styles
                var restyled = styles[i].getAttribute('href') + '?v=' + (new Date()).getTime();
                styles[i].setAttribute('href', restyled);
            }
        });

        gulp.watch('**/+(*.js|*.html)', ['reload']);
        gulp.watch(['**/*.css'], ['css']);
    }
</script>
</body>
</html>
