<div class="row">
    <div class="col-md-12">
        <h3>Test Notifications</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-inline">
            <label for="message">Message: </label>
            <input type="text" size="20" class="form-control" id="message" placeholder="Your message" #msg required/>
            <div> Send as:</div>
            <button type="button" class="btn btn-info btn-default"
                    (click)="notificationService.notifyInformation(msg.value)">Info
            </button>
            <button type="button" class="btn btn-success btn-default"
                    (click)="notificationService.notifySuccess(msg.value)">Success
            </button>
            <button type="button" class="btn btn-primary btn-default"
                    (click)="notificationService.notifyWarning(msg.value)">Warning
            </button>
            <button type="button" class="btn btn-danger btn-default"
                    (click)="notificationService.notifyError(msg.value)">Error
            </button>
        </div>
    </div>
</div>
