<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header with-border">
                <button class="btn btn-default btn-sm pull-right" ui-sref=".packshot" ng-show="game.packshot"
                        translate="packshot.title"></button>
                <h3 class="box-title" ng-bind="game.name"></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" name="gameDetailForm" ng-submit="save()">
                <div class="box-body">
                    <div class="form-group">
                        <label for="gameName" translate="gameDetails.gameName"></label>
                        <input type="text" ng-model="game.name" class="form-control" id="gameName" required>
                    </div>
                    <div class="form-group">
                        <label translate="gameDetails.gameDescription"></label>
                        <textarea class="form-control" ng-model="game.description" rows="3" required></textarea>
                    </div>
                </div>
                <!-- /.box-body -->

                <div class="box-footer">
                    <button type="reset" class="btn" translate="gameDetails.cancel"></button>
                    <button type="submit" class="btn btn-primary pull-right" translate="gameDetails.save"
                            ng-disabled="gameDetailForm.$invalid || gameDetailForm.$pristine">Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row" ng-show="game.id">
    <div class="col-md-4 col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <i class="fa fa-user"></i>

                <h3 class="box-title" translate="gameDetails.iAmGaming.title"></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <p translate="gameDetails.iAmGaming.description"></p>

                <p class="text-center">
                    <button type="button" class="btn btn-success" ng-disabled="!center || !photoUrl" ng-click="sendIAmGaming()"><i class="fa fa-flag-checkered fa-4x"></i></button>
                </p>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <i class="fa fa-photo"></i>

                <h3 class="box-title" translate="gameDetails.iAmGaming.photo"></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body text-center">
                <p>
                    <button type="button" class="btn btn-primary" ng-click="takePhoto()"><i class="fa fa-camera-retro fa-2x"></i></button>
                </p>
                <p ng-show="photoError" class="text-danger" translate="gameDetails.iAmGaming.photoError"></p>
                <img ng-src="{{photoUrl}}" class="img-responsive"/>
            </div>
            <!-- /.box-body -->
        </div>
    </div>

    <div class="col-md-4 col-xs-12">
        <div class="box box-solid box-primary">
            <div class="box-header with-border">
                <i class="fa fa-map-pin"></i>

                <h3 class="box-title" translate="gameDetails.iAmGaming.position"></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <p ng-hide="center || locationError" translate="gameDetails.iAmGaming.gettingPosition"></p>

                <p ng-show="locationError" class="text-danger" translate="gameDetails.iAmGaming.positionError"></p>
                <leaflet ng-if="center" style="height: 250px" defaults="defaults" markers="markers" center="center"></leaflet>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
