<h3 translate="radiusSearch.title"></h3>

<div class="row">
    <div class="col-xs-8">
        <select ng-model="model.radius" ng-options="radius + ' km' for radius in radiuses" class="form-control"></select>
    </div>
    <div class="col-xs-4">
        <button class="btn btn-primary btn-block" ng-click="search()" ng-disabled="!coordinates" translate="radiusSearch.search"></button>
    </div>
</div>

<hr/>

<div class="alert alert-danger" ng-if="geolocationUnavailable" translate="radiusSearch.unavailable"></div>
<div ng-if="!geolocationUnavailable">
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="result in results">
            <span class="badge">{{result.distance | number:0}} km</span>
            <img src="{{result.player.imageUrl}}" class="player-image" ng-if="result.player.imageUrl" />
            {{result.player.name}}
        </li>
    </ul>
</div>

<div class="alert alert-info" ng-if="results.length === 0" translate="radiusSearch.noResults"></div>