<div class="row">
    <div class="col-md-12">
        <h1>Dashboard</h1>
    </div>

    <div class="col-md-6">
        <div class="panel bg-aqua">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="huge">
                            {{gameCount}}
                        </div>
                        <h2>Games</h2>
                    </div>
                    <div class="col-xs-6 text-right">
                        <i class="fa fa-cubes fa-widget"></i>
                    </div>
                </div>
            </div>
            <a [routerLink]="['Games', 'GameList']">
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel bg-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="huge">
                            {{playerCount}}
                        </div>
                        <h2>Player</h2>
                    </div>
                    <div class="col-xs-6 text-right">
                        <i class="fa fa-users fa-widget"></i>
                    </div>
                </div>
            </div>
            <a>
                <div class="panel-footer">
                    <span class="pull-left">View Details</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

</div>
