<div class="box box-solid box-primary">
    <div class="box-header with-border">
        <i class="fa fa-map-pin"></i>

        <h3 class="box-title">Your current location</h3>
    </div>
    <div class="box-body">
        <p [hidden]="!_isLocating">Looking up your location...</p>

        <p [hidden]="!_hasError || _isLocating" class="text-danger">Sorry, we can't access your location.</p>
        <div [hidden]="_hasError" id="map" style="height: 250px"></div>
    </div>
    <!-- /.box-body -->
</div>
