<!DOCTYPE html>
<html ng-app="xplatform-sample">
<head>
    <title translate="appBranding.title"></title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="vendor/admin-lte/css/AdminLTE.css"/>
    <link rel="stylesheet" href="vendor/admin-lte/css/skins/skin-purple.css"/>
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="icon" href="assets/favicon.ico"/>
</head>
<body class="hold-transition skin-purple sidebar-mini">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini" translate="appBranding.shortTitle"></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg" translate="appBranding.title"></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only" translate="common.toggleNavigation"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">99+</span>
                        </a>
                        <ul class="dropdown-menu"> class=btn btn-default
                            <li class="header">You have 99+ notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> Info
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#" translate="common.showAll"></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li ui-sref-active="active">
                    <a ui-sref="dashboard"><i class="fa fa-dashboard"></i> <span translate="dashboard.title"></span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="games"><i class="fa fa-list"></i> <span translate="gameList.title"></span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="radiusSearch"><i class="fa fa-location-arrow"></i> <span translate="radiusSearch.title"></span></a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content" ui-view="main">

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        {{ 'footer.text' | translate }}
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab" ng-controller="languageController as language">
                <h3 class="control-sidebar-heading" translate="sidebar.language"></h3>
                <button class="btn btn-default" ng-click="language.switchTo('de-DE')" type="button" translate="sidebar.languages.deDE"></button>
                <button class="btn btn-default" ng-click="language.switchTo('en-EN')" type="button" translate="sidebar.languages.enEN"></button>
                <!-- /.control-sidebar-menu -->

            </div>
        </div>
    </aside>

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<script src="vendor/jquery/jquery-2.1.4.js"></script>
<script src="vendor/bootstrap/js/bootstrap.js"></script>
<script src="vendor/admin-lte/js/app.js"></script>
<script src="vendor/angular-js/angular.js"></script>
<script src="vendor/angular-js/angular-sanitize.js"></script>
<script src="vendor/angular-translate/angular-translate.js"></script>
<script src="vendor/angular-translate/angular-translate-static-file-loader.js"></script>
<script src="vendor/ui-router/angular-ui-router.js"></script>
<script src="vendor/fastclick/fastclick.js"></script>
<script src="vendor/three-js/three.js"></script>
<script src="app/init.js"></script>
<script src="app/config.js"></script>
<script src="app/routing.js"></script>
<script src="app/dashboard/dashboard.js"></script>
<script src="app/gameDetail/gameDetail.js"></script>
<script src="app/gameList/gameList.js"></script>
<script src="app/radiusSearch/radiusSearch.js"></script>
<script src="app/common/controllers/language.js"></script>
</body>
</html>
