<h3 translate="gameList.title"></h3>

<div class="row">
    <div class="col-md-12">
        <a ui-sref="games.detail" class="btn btn-success"><i class="fa fa-plus"></i> <span
                translate="gameList.add"></span></a>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="list-group" ng-if="games" style="margin-top: 15px">
            <li class="list-group-item" ng-repeat="game in games"><a ui-sref="games.detail({gameId: game.id})">{{game.name}}</a>
            </li>
        </ul>
        <div class="alert alert-info" ng-if="games.length === 0" translate="gameList.noGames"></div>
        <div class="alert alert-danger" ng-if="hasError" translate="gameList.error"></div>
    </div>
</div>