<div id="sidebar-wrapper">
    <ul class="sidebar">
        <li class="sidebar-main">
            <a (click)="toggleSidebar()">BoardZ!
                <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
        </li>

        <li class="sidebar-title"><span>NAVIGATION</span></li>

        <customGroup [hidden]="!loginService.authenticated">
        <li class="sidebar-list">
            <a [routerLink]="['Dashboard']">Dashboard <span title="Dashboard" class="menu-icon fa fa-dashboard"></span></a>
        </li>

        <li class="sidebar-list">
            <a [routerLink]="['GamesList']">Games list<span title="Games list" class="menu-icon fa fa-list"></span></a>
        </li>

        <li class="sidebar-list">
            <!-- <a [routerLink]="['RadiusSearch']">Radius search<span title="Radius search" class="menu-icon fa fa-location-arrow"></span></a> -->
        </li>

        <li class="sidebar-list">
            <a (click)="$event.preventDefault(); loginService.unauthenticate();">Logout<span title="Logout" class="menu-icon fa fa-sign-out"></span></a>
        </li>
        </customGroup>

        <customGroup [hidden]="loginService.authenticated">
        <li class="sidebar-list">
            <a [routerLink]="['Login']">Login<span title="Login" class="menu-icon fa fa-sign-in"></span></a>
        </li>
        </customGroup>
    </ul>

    <div class="sidebar-footer">

        <div class="col-xs-4">
            <a href="http://thinktecture.com">
                Thinktecture
            </a>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-4">
            <a href="https://github.com/thinktecture/boardz-cross-platform-sample" target="_blank">
                Github
            </a>
        </div>

    </div>
</div>