.ng-valid[required] {
  border-left: 5px solid #42A948;
}

.ng-invalid {
  border-left: 5px solid #a94442;
}

.respond-click{
  cursor: pointer;
}

.danger{
  color:#dd4b39;
}

.stack-bar-top {
  top: 0;
  right: 0;
}

.big-space{
  margin-top:30px;
}

.content-wrapper {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* Navigation */
body .navbar-custom-menu [hidden="true"] {
  display: none;
}


body,
.wrapper {
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}