<headerbar></headerbar>
<sidebar></sidebar>


<div class="content-wrapper" style="min-height: 100%;">
    <section class="content scrolling-module">
        <router-outlet></router-outlet>
    </section>
</div>
<footer class="main-footer">
    <span translate="footer.text"></span>&nbsp;
</footer>
<aside class="control-sidebar control-sidebar-dark">
    <div class="tab-content">
        <div class="tab-pane active" id="control-sidebar-home-tab" ng-controller="languageController as language">
            <h3 class="control-sidebar-heading">Select Language</h3>
            <button class="btn btn-xs btn-default" ng-click="language.switchTo('de-DE')" type="button">German</button>
            <button class="btn btn-xs btn-default" ng-click="language.switchTo('en-US')" type="button">English</button>
        </div>
    </div>
</aside>
<div class="control-sidebar-bg"></div>