<!DOCTYPE html>
<html ng-app="xplatform-sample">
<head>
    <title translate="appBranding.title"></title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />

    <!-- inject:css -->
    <!-- endinject -->
    <link rel="icon" href="assets/favicon.ico"/>
</head>
<body class="hold-transition skin-purple sidebar-mini" body-element>
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a ui-sref="dashboard" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini" translate="appBranding.shortTitle"></span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg" translate="appBranding.title"></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only" translate="common.toggleNavigation"></span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li ng-controller="navigationController as navigation" ng-show="navigation.showBackButton">
                        <a href ng-click="navigation.goBack()"><i class="fa fa-chevron-left"></i></a>
                    </li>
                    <li ng-controller="logoutController as logout" ng-show="logout.isLogoutButtonVisible()">
                        <a href ng-click="logout.logout()"><i class="fa fa-sign-out"></i></a>
                    </li>
                    <!-- Notifications: style can be found in dropdown.less -->
                    <li class="dropdown notifications-menu hide">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-bell-o"></i>
                            <span class="label label-warning">99+</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">You have 99+ notifications</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-users text-aqua"></i> Info
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="footer"><a href="#" translate="common.showAll"></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li ui-sref-active="active">
                    <a ui-sref="dashboard" close-sidebar-on-mobile><i class="fa fa-dashboard"></i> <span translate="dashboard.title"></span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="games" close-sidebar-on-mobile><i class="fa fa-list"></i> <span translate="gameList.title"></span></a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="radiusSearch" close-sidebar-on-mobile><i class="fa fa-location-arrow"></i> <span translate="radiusSearch.title"></span></a>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content" ui-view="main">

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
        <span translate="footer.text"></span>&nbsp;
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab" ng-controller="languageController as language">
                <h3 class="control-sidebar-heading" translate="sidebar.language"></h3>
                <button class="btn btn-default" ng-click="language.switchTo('de-DE')" type="button" translate="sidebar.languages.deDE"></button>
                <button class="btn btn-default" ng-click="language.switchTo('en-US')" type="button" translate="sidebar.languages.enUS"></button>
                <!-- /.control-sidebar-menu -->
            </div>
        </div>
    </aside>

    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<script src="cordova.js"></script>

<!-- inject:js -->
<!-- endinject -->


<script>
    if (window.require) {
        var gulp = require('gulp');
        gulp.task('reload', function () {
            if (location) location.reload();
        });

        gulp.task('css', function () {
            console.log('reload');
            var styles = document.querySelectorAll('link[rel=stylesheet]');

            for (var i = 0; i < styles.length; i++) {
                // reload styles
                var restyled = styles[i].getAttribute('href') + '?v=' + (new Date()).getTime();
                styles[i].setAttribute('href', restyled);
            }
        });

        gulp.watch('**/+(*.js|*.html)', ['reload']);
        gulp.watch(['**/*.css'], ['css']);
    }
</script>
</body>
</html>
