<div class="row header">
    <div class="col-xs-12">

        <usermenu></usermenu>
        <settingsmenu></settingsmenu>
        <notificationsMenu></notificationsMenu>

        <div class="row">
            <div class="col-xs-1" [hidden]="!showAppname">
                <h3>BZ!</h3>
            </div>
            <div class="col-xs-4 meta">
                <div class="page">
                    {{currentLocation}}
                </div>

                <breadcrumb></breadcrumb>
            </div>
        </div>
    </div>
</div>
