<div class="row header">
    <div class="col-xs-12">
        <div class="user pull-right">

            <div class="item dropdown" #usermenu>
                <a class="dropdown-toggle" (click)="usermenu.classList.toggle('open');" >
                    <i class="fa fa-lg fa-user"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-header">
                        Joe Bloggs
                    </li>
                    <li class="divider"></li>
                    <li class="link">
                        <a href="#">
                            Profile
                        </a>
                    </li>
                    <li class="link">
                        <a href="#">
                            Menu Item
                        </a>
                    </li>
                    <li class="link">
                        <a href="#">
                            Menu Item
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li class="link">
                        <a href="#">
                            Logout
                        </a>
                    </li>
                </ul>
            </div>

            <div class="item dropdown" #notifications>
                <a class="dropdown-toggle" (click)="notifications.classList.toggle('open');">
                    <i class="fa fa-lg fa-bell"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown-header">
                        Notifications
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">Server Down!</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="meta">
            <div class="page">
                Dashboard
            </div>
            <div class="breadcrumb-links">
                Home / Dashboard
            </div>
        </div>
    </div>
</div>