.alert {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.dropdown-toggle i.fa-2x {
    font-size: 2em;
}

.fa-c-info {
    color: #31708f;
}

.fa-c-success {
    color: #3c763d;
}

.fa-c-warning {
    color: #8a6d3b;
}

.fa-c-danger {
    color: #a94442;
}

.dropdown-menu {
    min-width: 250px;
}