<div class="user pull-right">
    <div class="item dropdown" #notifications>
        <a class="dropdown-toggle" (click)="notifications.classList.toggle('open'); blink(icon);">
            <i class="fa fa-lg fa-bell-o"></i>
            <!-- <i class="fa fa-lg fa-bell-o fa-c-warning fa-2x" #icon></i> -->
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
                Notifications
            </li>
            <li class="divider"></li>

            <li>
                <div class="alert alert-success alert-dismissable">
                    Game saved successfully
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                </div>
            </li>

            <li>
                <div class="alert alert-warning alert-dismissable">
                    Another Notification
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                </div>
            </li>

            <li>
                <div class="alert alert-info alert-dismissable">
                    <i class="fa fa-windows"></i>
                    <strong>Hello!</strong> You have mail!
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                </div>
            </li>

            <li>
                <div class="alert alert-danger alert-dismissable">
                    <i class="fa fa-frown-o"></i>
                    We had an error: Something could not be loaded because of an extensive error with the
                    database. However, this is quite some text for this notification and this needs to look
                    okay.
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
                </div>
            </li>
        </ul>
    </div>
</div>
