<li class="nav-item" [hidden]="notifications.length < 1">
    <a class="nav-link">
        <i class="fa fa-lg fa-bell-o {{highestNotificationColorCssClass}}" #notificationIcon></i>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
                Notifications
            </li>
            <li class="divider"></li>

            <li *ngFor="#notification of notifications">
                <div class="alert alert-dismissable {{getAlertClass(notification.type)}}">
                    <i class="fa {{notification.iconCssClass}}" *ngIf="notification.iconCssClass !== null"></i>
                    {{notification.message}}
                    <button type="button" class="close" data-dismiss="alert" (click)="dismiss(notification)">
                        <span>&times;</span></button>
                </div>
            </li>

            <li class="divider"></li>
            <li (click)="dismissAll()">
                <a>Dismiss all notifications</a>
            </li>
        </ul>
    </a>
</li>
