<div class="user pull-right">
    <div class="item dropdown" #settings>
        <a class="dropdown-toggle" (click)="settings.classList.toggle('open'); settingsicon.classList.toggle('fa-spin');">
            <i class="fa fa-lg fa-gear" #settingsicon></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
                Settings
            </li>
            <li class="divider"></li>

            <li>
                <a href="#">Language selector!</a>
            </li>
        </ul>
    </div>
</div>