<div class="user pull-right">
    <div class="item dropdown" [class.open]="open" [hidden]="!loginService.authenticated">
        <a class="dropdown-toggle" (click)="open = !open;">
            <i class="fa fa-lg fa-user"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-header">
                Hello, <strong>{{loginService.username}}</strong>
            </li>
            <li class="divider"></li>

            <li class="link">
                <a (click)="logout($event);">
                    <i class="fa fa-sign-out fa-fw"></i> Logout
                </a>
            </li>

        </ul>
    </div>
</div>