<style type="text/css">
    .user > .item[hidden] {
        display: none;
    }

    .row.header .user > .item > .dropdown-menu i {
        line-height: .75em;
    }
</style>

<div class="user pull-right">

<div class="item dropdown" [class.open]="open" [hidden]="!loginService.authenticated">

    <a class="dropdown-toggle" (click)="open = !open;">
        <i class="fa fa-lg fa-user"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
            Hello, <strong>{{loginService.username}}</strong>
        </li>
        <!--
        <li class="divider"></li>
        <li class="link">
            <a href="#">
                Profile
            </a>
        </li>
        <li class="link">
            <a href="#">
                Menu Item
            </a>
        </li>
        <li class="link">
            <a href="#">
                Menu Item
            </a>
        </li>
        -->
        <li class="divider"></li>
        <li class="link">
            <a (click)="logout($event);">
                <i class="fa fa-sign-out fa-fw"></i> Logout
            </a>
        </li>
    </ul>
</div>

<div class="item dropdown" #settings>
    <a class="dropdown-toggle" (click)="settings.classList.toggle('open'); settingsicon.classList.toggle('fa-spin');">
        <i class="fa fa-lg fa-gear" #settingsicon></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-header">
            Settings
        </li>
        <li class="divider"></li>
        <li>
            <a href="#">Language selector!</a>
        </li>
    </ul>
</div>

</div>