body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.main-header .logo {
	font-family: -apple-system-font, "Helvetica Neue", HelveticaNeue, "Roboto", "Segoe WP", "Segoe UI", sans-serif;
}

[ui-view].ng-enter, [ui-view].ng-leave {
	position: relative;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

[ui-view].ng-enter {
	opacity: 0;
	-webkit-transform:translate3d(100px, 0, 0);
	-moz-transform:translate3d(100px, 0, 0);
	transform:translate3d(100px, 0, 0);
}

[ui-view].ng-enter-active {
	opacity: 1;
	-webkit-transform:translate3d(0, 0, 0);
	-moz-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave {
	display: none;
}