<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">All Games</h3>

                <div class="box-tools">
                    <button class="btn btn-box-tool" (click)="openCreateGame()"><i class="fa fa-plus"></i> Add new
                        Game
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>

                        </tr>
                        <tr *ngFor=" let game of games" (click)="openGameDetails(game)" class="respond-click">
                            <td>{{game.name}}</td>
                            <td>{{game.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
